<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 3.1//EN"
 "http://java.sun.com/dtd/web-app_3_1.dtd" >

<web-app>

    <display-name>Java EE Sample App</display-name>

    <servlet>
        <servlet-name>JdbcAndJmsQueueServlet</servlet-name>
        <servlet-class>com.dell.eu.javaeesample.JdbcAndJmsServlet</servlet-class>
        <init-param>
            <param-name>jmsdestination</param-name>
            <param-value>queue/test</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>JdbcAndJmsQueueServlet</servlet-name>
        <url-pattern>/jdbcandjmsqueue</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JdbcAndJmsTopicServlet</servlet-name>
        <servlet-class>com.dell.eu.javaeesample.JdbcAndJmsServlet</servlet-class>
        <init-param>
            <param-name>jmsdestination</param-name>
            <param-value>topic/test</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>JdbcAndJmsTopicServlet</servlet-name>
        <url-pattern>/jdbcandjmstopic</url-pattern>
    </servlet-mapping>

</web-app>
